<!DOCTYPE html>
<html lang="fr" ng-app="app">

	<head>
	    <meta charset="utf-8" />

	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

	    <title>Spotify to Youtube</title>

	    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
	    <link rel="stylesheet" href="./main.css">
	</head>

	<body ng-controller="MainController">

    <div class="spotify">

      <button ng-if="spotifyUser == null" ng-click="spotifyLogin()">Connect to your Spotify account</button>

      <div class="profile" ng-if="spotifyUser != null">
        <img src="{{ spotifyUser.images[0].url }}" alt="">
        <span>{{ spotifyUser.display_name }}</span>
      </div>

      <div class="playlists" ng-if="spotifyPlaylists != null">
        <select ng-model="selectedPlaylist.playlist" ng-options="pl.name for pl in spotifyPlaylists.items track by pl.id">
        </select>
      </div>

    </div>

    <button ng-click="convert()">Convert !</button>

	</body>

	<script src="./bower_components/angular/angular.min.js"></script>
	<script src="./bower_components/angular-spotify/dist/angular-spotify.min.js"></script>
  <script src="./config.js"></script>
  <script src="./main.js"></script>
</html>
